<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">Часто задаваемые вопросы</h2>
    </div>
  </div>
    <div class="accordion" id="accordionExample">

      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Могу ли я заказать уборку квартиры и уйти по делам, когда приедет клинер?
            </button>
          </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            Спокойно оставляйте клинера наводить чистоту и отправляйтесь по делам. Добавьте дополнительные опции по доставке ключей — клинер приедет, куда скажете, заберёт у вас ключи и потом привезёт их обратно. К стоимости уборки квартиры в этом случае добавится небольшая сумма.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Как работает «Приведи друга»? Сколько стоит уборка квартиры по этой акции?
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            Чтобы ваши друзья не мучились выбором среди компаний по уборке квартир, приглашайте их попробовать Qlean. Делитесь своей уникальной ссылкой — и стоимость первой уборки квартиры для каждого из друзей снизится на 10 рублей. А когда их дома будут сиять чистотой, вы получите по 10 рублей за каждого на свой бонусный счет.
          </div>
        </div>
      </div>

    </div>
</div>
