<form id="contactForm" name="sentMessage" novalidate="novalidate">
  <div style="background-color: white; padding: 30px; border-radius: 5px;">
    <div class="form-group">
      <input class="form-control" id="name" type="text" placeholder="Как к Вам обращаться ?" required="required" data-validation-required-message="Please enter your name.">
      <p class="help-block text-danger"></p>
    </div>
    <div class="form-group">
      <input class="form-control" id="email" type="text" placeholder="Сколько комнат в хате ?" required="required" data-validation-required-message="Please enter your email address.">
      <p class="help-block text-danger"></p>
    </div>
    <div class="form-group">
      <input class="form-control" id="phone" type="tel" placeholder="Номер телефона" required="required" data-validation-required-message="Please enter your phone number.">
      <p class="help-block text-danger"></p>
    </div>
    <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit" style="background-color: green !important; width: 100%;">Заказать уборку</button>
  </div>
</form>
